Flask==1.1.1
Flask-Bootstrap==3.3.7.1
Flask-HTTPAuth==3.3.0
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-Migrate==2.5.2
Flask-Moment==0.9.0
Flask-PageDown==0.2.2
Flask-SQLAlchemy==2.4.1
Flask-WTF==0.14.2
future==0.17.1
gunicorn==19.9.0
itsdangerous==1.1.0
jaraco.itertools==4.4.2
Jinja2==2.10.3
pickleshare==0.7.4
Pillow==6.2.1
pipenv==2018.11.26
Werkzeug==0.16.0
WTForms==2.2.1
